@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5f2f5b;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(185, 40, 40, 0.1);
    z-index: 999;
    text-align: center;
   
    
}

header img {
    height: 50px;
    width: center;
    
}

.containerproje{
    position: relative;
   
    text-align: center;
    
}

.containerproje .slide-container .slide{
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
   
    padding-bottom: 70px;
    
}

.containerproje .slide-container .slide .contentproje{
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
{
    opacity: 0;
    transform: translateX(-50px);
}
}


.containerproje .slide-container .slide .contentproje h3{
    font-size: 90px;
    color: #f00dc6;
    font-family: 'Noto Sans', sans-serif;
    
}

.containerproje .slide-container .slide .contentproje p{
    font-size: 20px;
    color: #070707;
    font-family: 'Noto Sans', sans-serif;
    width: 40%;
    height: 10%;
    margin: auto;

}

.containerproje .slide-container .slide .contentproje .btnproj{
    margin-top: 10px;
    display: inline-block;
    background: #8932c3;
    color: #ffffff;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    border: 2px solid #8932c3;
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    
}

.containerproje .slide-container .slide .contentproje .bntproj:hover{
    background: #a355d7;
    border: 2px solid #a355d7;
    color: #ffffff;
}

.containerproje .slide-container{
    display: none;
    

}

.containerproje .slide-container.active{
    display: inline-block;

}

.containerproje .slide-container:nth-child(1) .slide{
    background: url('interacao/imagens/mujer-posando-mientras-toma-foto-camara.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    
}


.containerproje .slide-container:nth-child(2) .slide{
    background: url('interacao/imagens/highres_511685378.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje .slide-container:nth-child(3) .slide{
    background: url('interacao/imagens/vista-posterior-mujeres-tomados-mano-playa.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.containerproje #prev, 
.containerproje #next {
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    color: #ffffff;
    background: #533541;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.containerproje #prev:hover, 
.containerproje #next:hover{
    background: #4e4a4d;
}
.containerproje #prev{
    left: 20px;
}

.containerproje #next{
    right: 20px;
}



@media(max-width: 500px){
    .containerproje #prev{
        left: 0px;
        top: 60%;
    }

    .containerproje #next{
        right: 0px;
        top: 60%;
    }


    .containerproje .slide-container .slide .contentproje p{
        font-size: 16px;
        color: #ffffff;
        font-family: 'Noto Sans', sans-serif;
        width: 70%;
        height: 10%;
    
    }  
}
